{% capture append = "oxidBlock_content" %}
    {# ordering steps #}
    {% include "page/checkout/inc/steps.html.twig" with {active: 4} %}
    <div class="card card-default">
        <div class="card-header text-center">{{ translate({ ident: "D3UNZER_CC_INPUT_TITLENR" }) }}</div>
        <div id="payment" class="card-body">
            {% include oView.d3GetAfterStepTemplate() %}
        </div>
    </div>
    {{ insert_tracker({title: template_title}) }}
{% endcapture %}
{% include "layout/page.html.twig" %}
