<div class="row form-group {% if d3hpPaymentFormular.registrationType %}{{ d3hpPaymentFormular.registrationType }}{% endif %}">
    <h4 class="col-lg-11 offset-lg-1">
        {{ translate({ ident: d3hpPaymentFormular.name }) }}
    </h4>
</div>
