<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         cacheTokens="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         printerClass="PHPUnit_TextUI_ResultPrinter"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="false"
         verbose="false">
    <filter>
         <blacklist>
            <directory suffix=".php">../../../../</directory>
        </blacklist>
		<whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../</directory>
			<exclude>
				<directory suffix=".php">../tests/</directory>
				<directory suffix=".php">../cron/</directory>
				<directory suffix=".php">../translations/</directory>
				<directory suffix=".php">../views/</directory>
				<directory suffix=".php">../out/</directory>
				<directory suffix=".php">../public/</directory>
				<directory suffix=".php">../setup/</directory>
				<file suffix=".php">../metadata.php</file>
				<file suffix=".php">../models/d3heidelpay_update.php</file>
				<file suffix=".php">../models/d3_hp_bankaccount.php</file>
			</exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="d3_d3heidelpay_controllers">
            <directory>unit/modules/d3/d3heidelpay/controllers/</directory>
        </testsuite>
        <testsuite name="d3_d3heidelpay_modules">
            <directory>unit/modules/d3/d3heidelpay/modules/</directory>
        </testsuite>
        <testsuite name="d3_d3heidelpay_models">
            <directory>unit/modules/d3/d3heidelpay/models/</directory>
        </testsuite>
    </testsuites>
</phpunit>
