# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Module Git\Unzer_public_56\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
